<h1>Routing</h1>


<a [routerLink]="['home']">Home</a>  <br>
<a routerLink="/login/{name}/{password}">Login</a>  <br>
<a routerLink="/contactus">Contact Us</a> <br>




<button routerLink="/home">Home</button>






<router-outlet></router-outlet>

