<h1>Template Driven Form</h1>


<div class="container col-md-4">
<form   #myform=ngForm  (ngSubmit)="getFormData(myform)" >

<div class="form-group"><label>UserName:</label>
    <input type="text" required class="form-control"  name="uname" ngModel   #uname="ngModel"  >
    <span style="color:red"  *ngIf="uname.touched && uname.invalid">User Name Mandatory</span>
</div>

<div class="form-group"><label>Password:</label>
    <input type="password" required  class="form-control"  name="pwd" ngModel  #pwd="ngModel">
    <span style="color:red"  *ngIf="pwd.touched && pwd.invalid">Password Mandatory</span>
</div>

<div class="form-group"><label>Email:</label>
    <input type="email" required  class="form-control"   name="mail" ngModel  #mail="ngModel">
    <span style="color:red"  *ngIf="mail.untouched || mail.invalid">Email Mandatory</span><br>
    <span style="color:green"  *ngIf="mail.touched || mail.valid">Email Is valid</span>
</div>


<button  class="btn btn-primary" type="submit"  >Login</button>  <!-- [disabled]="myform.invalid" -->
</form> 

</div>



