<p>employee works!</p>
List : {{empList | json}}

<br>

<div class="container col-md-4">
<table class="table table-dark">

<tr><th>Id</th>  <th>Name</th> <th>Salary</th></tr>
<tr  *ngFor="let emp of empList"><td>{{emp.id}}</td> <td>{{emp.name}}</td> <td>{{emp.salary}}</td> </tr>

</table>
</div>

<button type="button" (click)="getAll()">Get All Employees</button> <br>


<button type="button" (click)="add()">Add Data</button> <br>

<button type="button" (click)="getById()">Get One</button> <br>

Employee : {{emp | json}}