<h1>Welcome  {{name}} </h1>

<h1>My City is {{city}}</h1>

<form>

    UserName : <input type="text" name="uname"  [value]="name"> <br>
    City: <input type="text" name="city"  [(ngModel)]="city"><br>
    <button type="button" (click)="submit()" >Submit</button>

  </form>  


  <img [src]="imageUrl">

  <img [src]="imageUrl">

  <img [src]="imageUrl">

  <img [src]="imageUrl">