<h1>Pipes</h1>


<h1>{{  "Hello World"  |  uppercase}} </h1>


<h1>{{  name  |  lowercase}} </h1>


{{mydate | date:'fullDate' }}  <br>

{{mydate | date:'shortDate' }}  <br>

{{mydate | date:'full' }}  <br>

{{mydate | date:'shortTime' }} <br>


{{ 50000 | currency}}  <br>

{{ 50000 | currency:'EUR'}}  <br>

{{ 50000 | currency:'INR'}}  <br>

{{"Hello" | slice:1:5}}  <br>


{{user | json}}  <br>



<h1> {{ 4  | sqrt:20}} <h1> <br>


 <h3 appHighlight >Welcome to Custome Directives </h3>   

